.form{
    display: flex;
}

.btnBack{
    border: none;
    margin-top: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    background-color: rgb(141, 219, 215);
    border-radius: 8px;
    flex: 1;
    height: 40px;
}

.btnGoto{
    border: none;
    margin-top: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    background-color: rgb(141, 219, 215);
    flex: 2;   
    height: 40px;
    border-radius: 8px;
   
}

.btnReset{
    border: none;
    margin-top: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    background-color: rgb(141, 219, 215);
    height: 40px;
    flex:1;
    border-radius: 8px;

}

.textbox{
    padding: 2px;
    padding-left: 10px;
    border: none;
    margin-top: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: text;
    background-color: rgb(245, 224, 179);
    border-radius: 15px;
    flex: 1;
    height: 35px;
    align-content: center;
    
}