.questions{
    color: black;
    display: flex;
    width: 100%;
    height: 10vw;
    background-color: #f4f0f8;
    border-top: rgb(12, 20, 3) 1px solid;
    border-bottom: rgb(12, 20, 3) 1px solid;
    border-left: rgb(12, 20, 3) 1px solid;
    border-right: rgb(12, 20, 3) 1px solid;

}


.serialno{
    flex: 1;
    
    margin: 10px;
    margin-right: 10px;
    border-right: 1px solid #f1eded; /*Puts a line on the screen*/
    width: 100%;
    height: 100%;

}

.question{
    flex: 9;
    margin-top: 10px;
    margin-left: 10px;
    border-right: 1px solid #f1eded; /*Puts a line on the screen*/

}

.icongrp{
    flex: 3;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 25px;
    cursor: pointer;
}

