.nav{
    width: 100%;
    height: 60px;
    background-color: #dac292;
    /* background-color: rgb(4, 11, 78); */
    position: sticky;
    top: 0;
    color: aliceblue;
    display:flex ;
    align-items: center; 
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    z-index: 999;  /*prevents overlapping between NAVBAR AND {REACT BLOG} heading*/
}  

.right{
    flex: 3;  /*the components in the navbar will take 3 units of space*/

    /* the below 3 work together only */
    display: flex;
    align-items: center;
    justify-content: center;
}

.center{
    flex: 6;
}

.topicon{
    display:flex; /*shows content in a single line
    flex--> single line    */
    justify-content: left;
    margin: 0;
    margin-left: 2px;
    padding: 0;
    list-style: none;  /*removes bullets from list*/
}

.listitem{
    margin-left: 30px;
    font-size: 20px;
    font-weight: 300;/*100 by default*/
    cursor: pointer;
}

.searchicon{
    cursor: pointer;
    font-size: 18px;
    color:#666;
    margin-left: 40px;
}

.buttonstitem{
    background: transparent;
    border: none;
    cursor: pointer;
}