.nav{
    width: 100%;
    height: 60px;
    background-color: aqua;
    position: sticky;
    top: 0;
    /* POSITION STICKY MEANS THAT NAVBAR WILL ALWAYS BE SHOWN AT ITS PLACE AND TOP:0 MEANS IT
    WILL BE SHOWN AT THE TOP ONLY */
    display:flex ;
    align-items: center; 
    font-family: 'Josefin Sans', sans-serif; /*font used from google fonts*/
}
.licons{
    margin: 10px;
    color: #444;
    cursor: pointer;
}

.lefticons, .right{
    flex: 3;  /*the components in the navbar will take 3 units of space*/

    /* the below 3 work together only */
    display: flex;
    align-items: center;
    justify-content: center;
}
.center{
    flex: 6;

    /* the below 3 work together only */
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.topimg{
    width: 40px;
    height: 40px;
    border-radius: 50%; /*makes the image oval*/
    object-fit: cover; /*puts the image in middle*/
}

.topicon{
    display:flex; /*shows content in a single line
    flex--> single line    */
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;  /*removes bullets from list*/
}

.listitem{
    margin-right: 20px;
    font-size: 20px;
    font-weight: 300;/*100 by default*/
    cursor: pointer;
}

.searchicon{
    cursor: pointer;
    font-size: 18px;
    color:#666;
    margin-left: 40px;
}