.side{
    height: 640px;
    flex: 1;
    background-color: rgb(18, 18, 107);
}

.edugit{
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;
    text-align: center;
    font-size: 30px;
    color: whitesmoke;
    font-family: cursive;
}

.tagline{
    /* text-align: center; */
    margin-top: 20px;
    color: lightyellow;
    margin-left: 30px;
    font-size: 20px;
}

.intro1{
    margin-top: 20px;
    color: lightyellow;
    font-size: 20px;
    margin-left: 30px;
    
}

.intro2{
    margin-top: 20px;
    color: lightyellow;
    font-size: 20px;
    margin-left: 30px;
}

.line{
    margin-top: 40px;
    /* width: 90%; */
    /* align-items: center; */
    /* align-self: center; */
    /* text-align: center; */
    /* margin-left: 30px; */

}

.btngrp{
    display: flex;
}
.questionbtn{
    flex: 1;
    width: 25%;
    margin: 20px;
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
text-align: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.articlebtn{
    flex: 1;
    width: 25%;
    margin: 20px;
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;

}
/* .article{
    width: 100%;
} */
/* .questions{
    width: 100%;
} */
/* .userprofile{
    width: 100%;
} */


.userbtn{
    flex: 1;
    width: 25%;
    margin: 20px;
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;
}

line2{
    width: 90%;
    margin-left: 30px;
}

.lefticonsdown{
    margin-left: 30%;
    margin-top: 40px;
    font-size: 40px ;
}

.lefticonsdown>i{
    margin-left: 30px;
    margin-top: 60px;
    color: rgb(219, 196, 172);
}